/**
 * Ticker and popup
 */

@import './constants.scss';

@keyframes green_flash {
  from {color: rgb(52, 202, 52);}
  to {color: white;}
}

@keyframes red_flash {
  from {color: rgb(231, 58, 53);}
  to {color: white;}
}

.text {
  font-size: 24px;
  transition: color 0.5s ease;
  color: white;
  animation-duration: 0.5s;
  cursor: pointer;
}

.ticker_popup_wrapper {
  margin-top: 12px;

  .ticker_popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 500px;

    z-index: $z_top;

    background-color: $bg_color_1;
    border: 2px solid $border_color;
  }
}

.update_green {
  animation-name: green_flash;
}

.update_red {
  animation-name: red_flash;
}
