html, body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgb(9, 1, 34);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.profile_image {
  width: 50%;
}

@keyframes green_flash {
  from {color: rgb(52, 202, 52);}
  to {color: white;}
}

@keyframes red_flash {
  from {color: rgb(231, 58, 53);}
  to {color: white;}
}

.text {
  font-size: 24px;
  transition: color 0.5s ease;
  color: white;
  animation-duration: 0.5s;
}

.update_green {
  animation-name: green_flash;
}

.update_red {
  animation-name: red_flash;
}

.stock_chart {
  width: 90%;

}

.stock_chart canvas {
  width: 100%;
}